body {
  background-color: #dbe9f0;
  font-size: 28px;
}

h1 {
  font-size: 50px;
  color: Black;
  font-family: Comic Sans MS;
}

p {
  font-family: Comic Sans MS;
  font-size: 20px;
  display: block;
}

* {
  text-align: center;
}

a {
  text-decoration: none;
  color: #008CBA;
}
