
body {
  background-color: #9cd3e3;
}

h1 {
  font-size: 50px;
  color: #fff;
  font-family: Comic Sans MS;
}
p {
  font-family: Comic Sans MS;
  font-size: 20px;
  display: block;
}

* {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: Comic Sans MS;
}

body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6ec3da;
  top: 0;
}

li {
  float: left;
  font-family: Comic Sans MS;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

.active {
  background-color: #ffffff;
}

#Download {
  padding: 20;
}
.Links-Divs {
padding: 20;

}
